.App {
  text-align: center;
  padding-bottom:0px;
}

/*start footer*/
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.content {
  flex-grow: 1; 
  margin-bottom: 70px;
}

.footer {
  font-family:Verdana, Tahoma, sans-serif;
  background-color: rgb(7, 7, 34);
  width: 100%;
  height: 10rem;
  color: white;
  text-align: center;
  
  margin-top: auto;
}
/*end footer*/
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #b19e7e;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*start main page*/
.welcome{
  font-size: 100px;
  margin: 50px auto 50px auto;
  padding: 100 px;
  font-family:Verdana, Tahoma, sans-serif;
  border: 100 px black solid;
  text-align: center;
}

.welcome-divider{
  width: 40rem;
  height: 5px;
  margin: 0 auto;
  background-color:darkslategray;
}

.main-menu{
  text-align: center;
  display: block;
  font-size: 40px;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-family:Verdana, Tahoma, sans-serif;
  margin: 20px auto;
  max-width: 130px;
}

.main-menu:hover{
  color: grey;
}

/*end main page*/

button{
  border: 2px solid black;
  margin-left: 5px;

  text-align: center;
  font-size: 14px;
  display: flexbox;
  justify-content: center;
}
label{
  margin-right: 5px;
}

.navbar {
  position: relative; 
  background-color: rgb(7, 7, 34);
  height: 40px; 
  padding: 0 20px; 
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo{
  margin-top: 3px;
  margin-bottom: 1px;
  height: 35px;
}

.navbar-link {
  text-decoration: none;
  color: aliceblue; 
  font-family: Verdana, Tahoma, sans-serif;
  font-size: 26px;
  margin: 0 15px; 
}

.centered{
  position: absolute;
  right:3%;
  
  text-align: center;
  margin-bottom: 3px;
  transition: all 0.3s ease-in-out;
}

.search{
  border-radius: 6px;
  border: none;
  width: 200px;
  padding: 8px;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  outline: none;

  
  
}

.search-expanded{
  right: 3;
  display: inline-block;
  
  justify-content: center;
  margin: auto;
  width: 77vw;
  z-index: 1;
  align-items: center;
  border-radius: 0px;
}

@media (max-width: 768px) {

  .search{
    width: 100px;
  }
}

/* Media query for extra small screens */
@media (max-width: 480px) {

  .search{
    width: 50px;
  }
}


.profile-icon {
  position: absolute; 
  top: 0; 
  right: 0; 
  margin: 10px; 
  font-size: 26px; 
  color: aliceblue; 
  
}

.navbar-divider {
  height: 2px; 
  background-color: rgb(7, 7, 34); 
}


.popular{
  text-align: center;
}

.popular-divider{
  width: 20rem;
  height: 5px;
  margin: 0 auto;
  background-color:darkslategray;
}

.loading {
  text-transform: capitalize;
  text-align: center;
  margin-top: 3rem;
  color: cornflowerblue;
}

.popular-items-center {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Default: 3 items per row */
  grid-row-gap: 2rem;
  grid-column-gap: 1px;
}

@media screen and (max-width: 900px) {
  .popular-items-center {
    grid-template-columns: repeat(1, 1fr); /* 2 items per row for smaller screens */
  }
}

@media screen and (max-width: 600px) {
  .popular-items-center {
    grid-template-columns: repeat(1, 1fr); /* 1 item per row for very small screens */
  }
}

.item-art {
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  border: 3px solid black;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  background-color: aliceblue;
  
}


.item-art:hover {
  background: rgba(14, 14, 72, 0.5);
  box-shadow: var(--darkShadow);
}

.item-img:hover{
  
}

.item-art:hover img {
  opacity: 0.3;
}

.item {
  text-align: center;
  font-size: 18px;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 20px auto;
  width: 100px;
}

.all-items-divider{
  width: 20rem;
  height: 5px;
  margin: 20px auto;
  background-color:darkslategray;
}

.login{
  display: block;
}

.submit-button{
  border:0;
  display: block;
  justify-content: center;
  text-align: center;
  margin:15px auto;
  font-size: 20px;
  border-radius: 5px;
}

.submit-button:hover{
  color: white;
  background-color: black;
}

.refetch-button{
  border:0;
  display: block;
  justify-content: center;
  text-align: center;
  margin:15px auto;
  font-size: 20px;
  border-radius: 5px;
}

.refetch-button:hover{
  color: white;
  background-color: black;
}


.login-input{
  border:0;
  font-size: 20px;
  border-radius: 5px;
}

.login-field{
  display: block;
  font-size: 20px;
  margin: 10px auto 10px auto;
  padding: 100 px;
  font-family:Verdana, Tahoma, sans-serif;
  border: 100 px black solid;
  text-align: center;
  
}

.login-greet{
  text-align: center;
  justify-content: center;
}

.login-form{

  margin: auto;
  text-align: center;
  justify-content: center;
}

.users-out{
  display: block;
  font-size: 20px;
  margin: auto;
  font-family:Verdana, Tahoma, sans-serif;
  border: 100 px black solid;
  text-align: center;
}

.response-login{
  display: block;
  font-size: 20px;
  margin: auto;
  font-family:Verdana, Tahoma, sans-serif;
  border: 100 px black solid;
  text-align: center;
}
.error-message{
  text-align: center;
  margin: auto;
  margin-top: 10%;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-family:Verdana, Tahoma, sans-serif;
}

.error-btn{
  margin: auto;
  border: black solid 2px; 
  width: 15%;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  font-family:Verdana, Tahoma, sans-serif;

}

.item-compact{
  display: block;
  max-width: 400px;
  

  height: 80px;
  border: 1px solid black;
  text-decoration: none;
  color: var(--mainBlack);
  transition: var(--mainTransition);
  
}

.compact-img{
  display: inline;
  height: 80px;
}

.compact-item-info{
  display: inline-block;

}


